<div class="row">

    <div class="col-md-3">

        <mat-card>
            <mat-card-content>
                <h1 class="text-center fs-1 p-4">
                    <mat-icon class="mat-icon-circle-1 bg-darkturquoise me-4">cloud_done</mat-icon>
                    {{178123 | decimalBr}}
                </h1>
            </mat-card-content>
        </mat-card>
        
    </div>

    <div class="col-md-3">

        <mat-card class="">
            <mat-card-content>
                <h1 class="text-center fs-1 p-4">
                    <mat-icon class="mat-icon-circle-1 bg-forestgreen me-4">cloud_off</mat-icon>
                    {{1123.5 | decimalBr}}
                </h1>
            </mat-card-content>
        </mat-card>
        
    </div>

    <div class="col-md-3">

        <mat-card class="">
            <mat-card-content>
                <h1 class="text-center fs-1 p-4">
                    <mat-icon class="mat-icon-circle-1 bg-rebeccapurple me-4">timeline</mat-icon>
                    {{1178 | decimalBr}}
                </h1>
            </mat-card-content>
        </mat-card>
        
    </div>

    <div class="col-md-3">

        <mat-card class="">
            <mat-card-content>
                <h1 class="text-center fs-1 p-4">
                    <mat-icon class="mat-icon-circle-1 bg-coral me-4">feedback</mat-icon>
                    {{135 | decimalBr}}
                </h1>
            </mat-card-content>
        </mat-card>
        
    </div>
</div>

<div class="row mt-5">
    
    <div class="col-md-6">
    
        <mat-card class="">
            <mat-card-header class="pt-3 pb-3">
                <mat-card-title>Volume de Upload</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                
                <div style="display: block; max-width: 500px; margin:auto">
                    <canvas baseChart 
                        [datasets]="barChartData" 
                        [labels]="barChartLabels" 
                        [options]="barChartOptions"
                        [legend]="barChartLegend" 
                        [chartType]="barChartType">
                    </canvas>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
    
    
    <div class="col-md-6">
    
        <mat-card class="">
            <mat-card-header class="pt-3 pb-3">
                <mat-card-title>Tráfego da rede</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                
                <div style="display: block; max-width: 500px; margin:auto">
                    <canvas baseChart 
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        >
                    </canvas>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
    

</div>

<div class="row mt-5">

    <div class="col-md-8">

        <mat-card class="">
            <mat-card-header class="pt-3 pb-3">
                <mat-card-title>Usuários mais ativos</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                        
                <table mat-table [dataSource]="peoplesDataSource">
                
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nome </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="uploads">
                        <th mat-header-cell *matHeaderCellDef> Qtd. Uploads </th>
                        <td mat-cell *matCellDef="let element"> {{element.uploads.length}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="lastUpdated">
                        <th mat-header-cell *matHeaderCellDef> Última atualização </th>
                        <td mat-cell *matCellDef="let element"> {{element.lastUpdated | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>
                
                
                    <tr mat-header-row *matHeaderRowDef="peoplesDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: peoplesDisplayedColumns;"></tr>
                </table>
                <mat-paginator #paginator [length]="100"
                            [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>

            </mat-card-content>
        </mat-card>
        
    </div>

    <div class="col-md-4">
        <mat-card class="">
            <mat-card-header class="pt-3 pb-3">
                <mat-card-title>Enquete</mat-card-title>
            </mat-card-header>
            <mat-card-content class="p-4">
                
                <section>
                    <p>Quais desses times tem mundial?</p>
                    <span>
                        <mat-checkbox  [checked]="allComplete"
                            [color]="mundial.color"
                            [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                            {{mundial.name}}
                        </mat-checkbox>
                    </span>
                    <span>
                        <ul>
                            <li *ngFor="let t of mundial.times">
                                <mat-checkbox [(ngModel)]="t.completed"
                                    [color]="t.color"
                                    (ngModelChange)="updateAllComplete()">
                                    {{t.name}}
                                </mat-checkbox>
                            </li>
                        </ul>
                    </span>

                    <mat-form-field appearance="outline">
                        <mat-label>Qual seu time de coração?</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>

                    <p>Seu time possui futebol feminino? </p>
                    <mat-radio-group >
                        <mat-radio-button class="me-2" value="yes">Sim</mat-radio-button>
                        <mat-radio-button value="no">Não</mat-radio-button>
                    </mat-radio-group>

                    <div class="mt-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Qual sua data de nascimento?</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="mt-4">
                        <button mat-raised-button color="primary" (click)="openSnackBar()">Salvar</button>
                    </div>
                    

                </section>

            </mat-card-content>
        </mat-card>

    </div>

</div>