<div class="row">

    <div class="col-md-3">

        <mat-card>
            <mat-card-content>
                <h1 class="text-center fs-1 p-4">
                    <mat-icon class="mat-icon-circle-1 bg-darkturquoise me-4">cloud_done</mat-icon>
                    13123
                </h1>
            </mat-card-content>
        </mat-card>
        
    </div>

    <div class="col-md-3">

        <mat-card class="">
            <mat-card-content>
                <h1 class="text-center fs-1 p-4">
                    <mat-icon class="mat-icon-circle-1 bg-forestgreen me-4">cloud_off</mat-icon>
                    13123
                </h1>
            </mat-card-content>
        </mat-card>
        
    </div>

    <div class="col-md-3">

        <mat-card class="">
            <mat-card-content>
                <h1 class="text-center fs-1 p-4">
                    <mat-icon class="mat-icon-circle-1 bg-rebeccapurple me-4">timeline</mat-icon>
                    13123
                </h1>
            </mat-card-content>
        </mat-card>
        
    </div>

    <div class="col-md-3">

        <mat-card class="">
            <mat-card-content>
                <h1 class="text-center fs-1 p-4">
                    <mat-icon class="mat-icon-circle-1 bg-coral me-4">feedback</mat-icon>
                    13123
                </h1>
            </mat-card-content>
        </mat-card>
        
    </div>
</div>

<div class="row mt-5">
    
    <div class="col-md-6">
    
        <mat-card class="">
            <mat-card-header class="pt-3 pb-3">
                <mat-card-title>Gráfico de Pedidos</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                
                <div style="display: block; max-width: 500px; margin:auto">
                    <canvas baseChart 
                        [datasets]="barChartData" 
                        [labels]="barChartLabels" 
                        [options]="barChartOptions"
                        [legend]="barChartLegend" 
                        [chartType]="barChartType">
                    </canvas>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
    
    
    <div class="col-md-6">
    
        <mat-card class="">
            <mat-card-header class="pt-3 pb-3">
                <mat-card-title>Gráfico de Pedidos</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                
                <div style="display: block; max-width: 500px; margin:auto">
                    <canvas baseChart 
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        >
                    </canvas>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
    

</div>